.headerContainer {
  user-select: none;
  -webkit-user-select: none;
  outline: none;
  z-index: 1000;
  pointer-events: none;
  font-family: "main";
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    .headerBlur {
      position: absolute;
      left: 0; top: 0px;
    }

  .logo {
    width: 200px;
    filter: invert(100%);
    transition: all .3s ease;
    &.onScroll {
      width: 0;
      opacity: 0;
    } 
  }

  .header {
    box-shadow: 0px 5px 5px 0px rgba(0, 31, 131, 0.1);
    padding: 0;
    width: 80%;
    list-style: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 9999px;
    $headerBeforeElMargin: 5px;
    .headerElement {
      a {
        text-decoration: none;
        color: var(--color-main);
        cursor: pointer;
        pointer-events: all;
      }
      position: relative;
      transition: .1s ease all;
      font-family: "main";
      font-size: 18px;
      padding: 16px;
      border-radius: 9999px;
      &::before {
        content: "";
        transition: .3s ease all;
        box-sizing: border-box;
        position: absolute;
        width: calc(100% - $headerBeforeElMargin*1.5);
        height: calc((100% - $headerBeforeElMargin*3));
        align-self: center;
        background: #ffffff00;
        border-radius: 9999px;
        left: 0;
        margin: $headerBeforeElMargin;
        filter: blur(5px);
      }
      &:active::before {
        background: var(--color-main-light-opacity);  
      }
    }
    .firstHeaderElement {
      margin-left: 14px;
    }
    .lastHeaderElement {
      a {
        text-decoration: none;
        color: var(--color-main);
        cursor: pointer;
        pointer-events: all;
      }
      position: relative;
      transition: .1s ease all;
      font-family: "main";
      font-size: 18px;
      padding: 16px;
      color: var(--color-main);
      padding-right: 20px;
      padding-left: 20px;
      margin-left: auto;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 9999px;
      .lastHeaderElementContent {
        margin: 0
      }
      .contactUsIcon {
        width: 22px;
        filter: invert(16%) sepia(100%) saturate(6671%) hue-rotate(229deg) brightness(89%) contrast(98%);
      }
      &::before {display: none;}
    }
    .headerSelector {
      --header-selector-x-offset: 0px;
      transition: all .2s;
      position: absolute;
      left: var(--header-selector-x-offset);
      height: 3px;
      width: 50px;
      background: white;
      border-radius: 9999px;
      transform: translateY(60px);
    }
  }
}

@keyframes headerMoverScrollAnimation {
  100% {
    transform: translateY(40px);
    height: 1px;
    background-color: var(--color-main-light);
  }
}
@keyframes headerMoverScrollAnimationAdapt {
  100% {
    transform: translateY(25px);
    height: 1px;
    background-color: var(--color-main-light);
  }
}


@media screen and (max-width: 800px) {
  .headerContainer {
    transition: .3s all;
    .header {
      width: 90%;
      transition: .3s all;
      .headerElement {
        font-size: 12px;
        padding: 10px;
        transition: .3s all;
      }
      .lastHeaderElement {
        font-size: 12px;
        padding: 10px;
        transition: .3s all;
      }
      .headerSelector {
        transform: translateY(40px);
        animation-name: headerMoverScrollAnimationAdapt;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  
  .headerContainer {
    
    .header {
      gap: 10px;
      justify-content: center;
      .lastHeaderElement {
        display: none;
      }
      .headerElement {
        font-size: 11px;
        padding: 5px;
        padding-top: 9px;
        padding-bottom: 9px;
        transition: .3s ease all;
      }
      .headerSelector {
        display: none;
        
      }
    }
  }
}